<div class="cloudapp-actions">
  <button mat-flat-button color="secondary" [routerLink]="['/']">
    <mat-icon>arrow_back</mat-icon>
    {{ 'Back' | translate}}
  </button>
  <button mat-flat-button type="button" color="primary" (click)="save()">{{ 'Save' | translate}}</button>
</div>
<h1 translate>Configuration.Title</h1>
<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<form *ngIf="form" [formGroup]="form">
  <h2 translate>Configuration.Profiles</h2>
  <p translate>Configuration.SelectProfile</p>
  <div class="profile-list">
    <mat-select placeholder="Profile" [(value)]="selectedProfile">
      <mat-option *ngFor="let profile of profileKeys" [value]="profile">
        {{startCase(profile)}}
      </mat-option>
    </mat-select>
    <button type="button" class="pull-right" (click)="addProfile()" mat-icon-button aria-label="Add profile" title="Add profile">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button type="button" (click)="renameProfile()" mat-icon-button aria-label="Rename profile" title="Rename profile">
        <mat-icon>edit</mat-icon>
    </button>    
    <button type="button" (click)="deleteProfile()" mat-icon-button aria-label="Delete profile" title="Delete profile">
        <mat-icon>delete_outline</mat-icon>
    </button>
  </div>
  <app-config-profile [form]="profiles.get(selectedProfile)"></app-config-profile>
</form>